/*Le Header*/

header {
    margin: 2%;
    padding: 2%;
    /* border: 4mm ridge rgb(143, 100, 201); */
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
   
}
 
  .img_haut {
    position: absolute;
    text-align: center;
  }

  h1{
    position: relative;
    text-align: center;
    top: -80px;
    font-size: 40px;
  }


/* Navigation */

nav ul{
      list-style-type: none;
      display: flex;
      height: 200px;

}

nav li{
      margin-right: 15px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*Le Body*/

  .linear-gradient {
    background: linear-gradient(rgba(114, 137, 199, 0.651), rgb(241, 237, 227));
  }

  /*Text dans le haut du body*/
  .text_body {
    color: black;
    height: 200px;
    display: flex;
    justify-content: left;
  }

    h4 {
      font-size: 25px;
      font-weight: normal;
      letter-spacing: 4px;
    }
    h6 { font-size: 22px; }

    .text_body h4, .text_body h6 {
      margin: 0;
      text-shadow: 2px 2px 6px #000;
      text-align: left;
    }


  /*Les articles*/
  h3{
    font-size: 25px;
    text-decoration: underline;

  }

  /*Les images*/
  .image{
      height: 260px;
      width: 260px;
      border-radius: 10px;
      
    }

  /*Les blocs*/
  #premier{
    
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }


  #second{
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    flex-wrap: wrap;
    padding: 100px;

  }

  #troisieme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  /*Footer*/
  footer{
    border-top:black thick double;
  }
  

  #foot{
    font-size: 29px;
  }

  #mes_photos{
      display: flex;
      justify-content: center;
  }
  
  p{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }